body{
    background-color: white;
    margin: 0;
}


div{
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 80vh;
    overflow: hidden;
}

#amarillo{
    float: right;
    width: 49.76%;
    height: 99%;
    background-color: rgb(240, 230, 140);
    border: 2px solid rgb(77, 103, 88);
    position: initial;
    top: initial;
    left: initial;
    transform: none;

}

#azul{
    float: left;
    width: 49.76%;
    height: 99%;
    background-color: rgb(224, 255, 255);
    border: 2px solid rgb(207, 117, 117);
    position: initial;
    top: initial;
    left: initial;
    transform: none;
}