body{
    background-color: white;
    margin: 0;
}

div{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    border: 2px dotted black;
}

#rojo{
    float: right;
    width: 33.33%;
    height: 100%;
    background-color: red;
    border: none;
}

#azul{
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: blue;
    border: none;
}