:root {
    --rojo-resalte: #B75C6D;
    --verde-resalte: #7A8D5B;
    --marron-base: #4B3D29;
    --amarillo-base: #F2D16B;
    --amarillo-fondo: #F9E9D2;

    --titulo: "Playfair Display", serif;
    --cuerpo: 'Lato',  sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  main {
    height: 100vh;
  }