body{
    background-color: var(--amarillo-fondo);
	height: 99vh;
	width: 99vw;
	position: absolute;
}

#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


#botonColapsador {
    background-color: var(--rojo-resalte);
    border-radius: 50%;
    border-color: var(--rojo-resalte);
    position: fixed; /* Fija el botón en la esquina superior izquierda */
    top: 20px; /* Espaciado desde la parte superior */
    left: 20px; /* Espaciado desde la izquierda */
    z-index: 1000; /* Asegura que el botón esté en la parte superior */
  }

  #menuPadre {
    position: fixed; /* Fija el menú en la pantalla */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    width: 0; /* Inicialmente colapsado */
    background-color: var(--amarillo-fondo);
    overflow: hidden; /* Oculta el contenido que exceda el ancho */
    transition: width 0.3s ease; /* Transición suave al expandirse */
  }

  #menuColapsado {
    padding: 20px; /* Espaciado interno */
  }

  /* Clase para expandir el menú */
  #menuColapsado.expandido {
    width: 250px; /* Ancho del menú expandido */
  }