
#padre{
    display: flex;
    height: 50vh;
    padding: 40px;
    
    border: 2px dotted rgb(207, 117, 117);
}

#amarillo{
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: rgb(240, 230, 140);
    border: 2px solid rgb(77, 103, 88);

}


#azul{
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: rgb(224, 255, 255);
    border: 2px solid rgb(207, 117, 117);
}