body{
    background-color: white;
    margin: 0;
}

#padre{
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    border: 2px dotted black;
}

#rojo{
    background-color: red;
   
}
#blanco{
    background-color: rgb(255, 255, 255);
}

#azul{
    background-color: blue;
}